swagger: '2.0'
info:
  description: Rest API for OpenC2 Orchestrator Server
  version: 0.0.1
  title: open C2 Orchestrator Server
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: openc2.io
basePath: /v1
tags:
  - name: OpenC2
    description: unambiguous command and control of cyber defense technologies
    externalDocs:
      description: Find out more about OpenC2
      url: 'http://openc2.org'
  - name: OpenC2
schemes:
  - https
paths:
  /:
    get:
      tags:
        - Info
      summary: Gives basic information about the Orchestrator
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            type: object
  
  /users:
    get:
      tags:
        - Info
        - Users
      summary: Givens list of users
      responses:
        '200':
          description: successful operation
        '401':
          description: not authorised
    post:
      tags:
        - Auth
      summary: Create new user for system
      responses:
        '200':
          description: successful operation
        '403':
          description: not authorised
        '404':
          description: user does not exist
  /users/login:
    post:
      tags:
        - Auth
        - Users
      summary: login given user into orchestrator
      responses:
        '200':
          description: succesful operation
        '403':
          description: not authorised
  /users/logout:
    get:
      tags:
        - Auth
        - Users
      summary: logout given user into orchestrator
      responses:
        '200':
          description: succesful operation
        '403':
          description: not authorised
  /users/{username}:
    get:
      tags:
        - Auth
        - Info
      summary: Info about user
      parameters:
        - name: username
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
        '403':
          description: not authorised
        '404':
          description: user does not exist
    delete:
      tags:
        - Auth
      summary: Delete the user from the system
      parameters:
        - name: username
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
        '403':
          description: not authorised
        '404':
          description: user does not exist
  /users/{username}/actuators/:
    get:
      tags:
        - Info
      summary: list of actuators for the given user
      parameters:
        - name: username
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
        '403':
          description: not authorised
        '404':
          description: user does not exist
  /users/{username}/actuators/add:
    post:
      tags:
        - Auth
        - Permission
      summary: Add permission for the actuator to the user
      parameters:
        - name: username
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
        '403':
          description: not authorised
        '404':
          description: user does not exist
  /users/{username}/actuators/remove:
    post:
      tags:
        - Auth
        - Permission
      summary: Remove permission for the actuator to the user
      parameters:
        - name: username
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
        '403':
          description: not authorised
        '404':
          description: user does not exist
  /users/{username}/history:
    get:
      tags:
        - Info
      summary: Previous commands executed by the user
      parameters:
        - name: username
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
        '403':
          description: not authorised
        '404':
          description: user does not exist
  
  /actuators:
    get:
      tags:
        - Actuator
        - Info
      summary: Gives list of actuators
      responses:
        '200':
          description: successful operation
        '401':
          description: not authorised
    post:
      tags:
        - Actuator
        - Info
      summary: Create new actuator for system
      responses:
        '200':
          description: successful operation
        '403':
          description: not authorised
        '404':
          description: user does not exist
  /actuators/{actuator}:
    get:
      tags:
        - Actuator
        - Info
      summary: Info about actuator
      parameters:
        - name: actuator
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
        '403':
          description: not authorised
        '404':
          description: user does not exist
    delete:
      tags:
        - Actuator
      summary: Delete the user from the system
      parameters:
        - name: actuator
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
        '403':
          description: not authorised
        '404':
          description: user does not exist
  /actuators/{actuator}/refresh:
    get:
      tags:
        - Actuator
        - Info
        - Refresh
      summary: Refresh info about the actuator
      parameters:
        - name: actuator
          in: path
          required: true
          type: string
        - name: all
          in: query
          type: boolean
          description: refresh all information
        - name: info
          in: query
          type: boolean
          description: refresh info
        - name: schema
          in: query
          type: boolean
          description: refresh schema information
      responses:
        '200':
          description: successful operation
        '403':
          description: not authorised
        '404':
          description: user does not exist
  /actuators/{actuator}/schema:
    get:
      tags:
        - Actuator
        - Info
        - Schema
      summary: Last known schema for actuator
      parameters:
        - name: actuator
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
        '403':
          description: not authorised
        '404':
          description: user does not exist
  /actuators/{actuator}/history:
    get:
      tags:
        - Info
      summary: Previous commands executed on the actuator
      parameters:
        - name: actuator
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
        '403':
          description: not authorised
        '404':
          description: user does not exist
  /actuators/{actuator}/users:
    get:
      tags:
        - Info
      summary: list of users authorized for the actuator
      parameters:
        - name: actuator
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
        '403':
          description: not authorised
        '404':
          description: user does not exist
      
  /command:
    get:
      tags:
        - Command
        - Info
      summary: Info about the commands
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: successful operation
        '403':
          description: not authorised
        '404':
          description: user does not exist
    post:
      tags:
        - Command
        - Info
      summary: Send command
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: successful operation
        '403':
          description: not authorised
        '404':
          description: user does not exist
  /command/{id}:
    get:
      tags:
        - Command
        - Info
      summary: Info about the command
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: successful operation
        '403':
          description: not authorised
        '404':
          description: user does not exist
    delete:
      tags:
        - Command
        - Info
      summary: delete command
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: successful operation
        '403':
          description: not authorised
        '404':
          description: user does not exist
      
    
externalDocs:
  description: Find out more about OpenC2
  url: 'http://openc2.org'
