{
    "plugins": [
        "plugin-syntax-dynamic-import",
        "transform-object-rest-spread"
    ],
    "presets": [
        [
            "env",
            {
                modules: false
            }
        ]
    ]
}